@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
html {
        scroll-behavior: smooth;

    }

body {
    background-color: #F5EEDD;
    font-family: "League Spartan", sans-serif;
}

.top-buttons {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #F5EEDD;
        display: flex;
        padding: 20px 0;
    }

.top-buttons button {

    background-color: transparent;

    /*margin-inline: 2rem;*/
    border: none;
    color: #06202B;
    padding: 10px 15px;
    font-size: 29px;
    cursor: pointer;
    transition: all 0.3s ease;
    }

.top-buttons button:hover {
    color: black;
    transform: translateY(-2px);
    }

.photo-home{
    margin-top: 4.6rem;
    display: flex;
    justify-content: center;
}
.photo {
    max-width: 1920px;
    max-height: 915px;
}

.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    place-items: center;
}

